body {
   /*  overflow: hidden; */
    background-color: #F5F5F5;
}

.error{
    border: 2px solid #D23947 !important;
}

.hidden{
    display: none;
}

h1 {
    margin: 0px 0px;
    padding: 2vh 0px;
}

.title{
    color: #BFC4C6;
    font-weight: bolder;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 1vh;
    background-color: #36474F;
}


#topics-expanded{
    width: 99vw;
    /* height: 97.5vh; */
    height: 100%;
    background-color: #DDDDDD;
}
#topics-expanded #topic-event-creation {
    /*  margin: 1vh 1vw;*/
    width: 85vw;
    margin: auto;
}

#topics-expanded #topic-event-creation input[type=text] {
    width: 100%;
    padding: 2vh 2vw;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#topics-expanded #topic-event-creation textarea {
    width: 100%;
    height: 20vh;
    padding: 2vh 2vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #ccc;
    resize: none;
}

#topics-expanded #topic-event-creation select {
    width: 100%;
    padding: 2vh 2vw;
    border-radius: 4px;
    margin-bottom: 2vh;
}

#topics-expanded #topic-event-creation button[type="submit"] {
    float: right;
    background-color: #a0c2dd;
    border: none;
    color: #5f6f7f;
    padding: 2vh 2vw;
    text-decoration: none;
    margin: 1vh 1vw;
    cursor: pointer;
}

#topics-expanded #topic-event-creation #order-submit{
    background-color: transparent;
    border: 2px solid;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem;
    position: relative;
    left: 85%;
    cursor: pointer;
    font-weight: bolder;
}

#topics-expanded #topic-event-creation .topic-title{
    color: #36474F;
    font-weight: bolder;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 1vh;
    background-color: #BFC4C6;
}

#topics-expanded #topic-event-creation .order-quantity{
    width: 2vw;
    height: 4vh;
    float: left;
    margin-right: 1vw;
    margin-top: 1vh;
}

#topics-expanded #topic-event-creation .menu-item{
    color: #36474F;
    font-weight: bolder;
    font-size: 2rem;
}

#topics-expanded #topic-event-creation .quantity{
    font-weight: lighter;
    font-size: 1rem;
    margin-left: 1vw;
}

#topics-expanded #topic-event-creation .menu-price{
    float: right;
}
