<!DOCTYPE html>
<html>
    <head>
        <title>Chefs</title> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/main.css" />
    </head>
    <body id="chefs">
        <div class="chef-container">
            <h1 class="title">Orders</h1>
            
            <div id="order-list">
                <div class="order-container">
                    <h1>#32111</h1>
                    <table>
                        <tr>
                            <td><h3>3</h3></td>
                            <td><h3>Cheese Fries</h3></td>
                        </tr>
                        <tr>
                            <td><h3>3</h3></td>
                            <td><h3>Teas</h3></td>
                        </tr>
                    </table>
                </div>
                <div class="order-container selected">
                    <h1>#32112</h1>
                    <table>
                        <tr>
                            <td><h3>1</h3></td>
                            <td><h3>Onion Ring</h3></td>
                        </tr>
                        <tr>
                            <td><h3>1</h3></td>
                            <td><h3>Chicken Alfredo</h3></td>
                        </tr>
                        <tr>
                            <td><h3>1</h3></td>
                            <td><h3>Teas</h3></td>
                        </tr>
                    </table>
                </div>
                <div class="order-container">
                    <h1>#32113</h1>
                    <table>
                        <tr>
                            <td><h3>1</h3></td>
                            <td><h3>Cheese Fries</h3></td>
                        </tr>
                        <tr>
                            <td><h3>2</h3></td>
                            <td><h3>Chicken Alfredo</h3></td>
                        </tr>
                        <tr>
                            <td><h3>2</h3></td>
                            <td><h3>Teas</h3></td>
                        </tr>
                    </table>
                </div>
                <div class="order-container">
                    <h1>#32114</h1>
                    <table>
                        <tr>
                            <td><h3>1</h3></td>
                            <td><h3>Cheese Fries</h3></td>
                        </tr>
                        <tr>
                            <td><h3>2</h3></td>
                            <td><h3>Chicken Alfredo</h3></td>
                        </tr>
                        <tr>
                            <td><h3>2</h3></td>
                            <td><h3>Teas</h3></td>
                        </tr>
                    </table>
                </div>
            </div>
                  
        </div>
        <script src="./js/ejs.min.js"></script>
        <script>
              
        </script>
        <script src="./js/main.js"></script>
    </body>
</html>