<!DOCTYPE html>
<html>
  <head>
    <title>Order Submit</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body id="orders">
    <div class="title" id="order-submitted">
      <h1>Order Submitted</h1>
    </div>
    <h3 style="text-align: center; width: 100%;">
      Order: #<span id="orderNum"></span>
    </h3>
    <table style="font-size: 16px;" id="order">
      <tr>
        <th>Amount</th>
        <th>Item</th>
      </tr>
    </table>

    <div class="totals">
      <h3>Subtotal: <span id="subtotal"></span></h3>
      <h3>Total: <span id="total"></span></h3>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="./js/ejs.min.js"></script>
    <script>
      let orderSubmitted = "<%= order %>".split(",");
      console.log(orderSubmitted);
      let orderTr = document.getElementById("order");
      let subTotal = (document.getElementById("subtotal").innerText =
        orderSubmitted[orderSubmitted.length - 2]);
      let total = (document.getElementById("total").innerText =
        orderSubmitted[orderSubmitted.length - 1]);
      if (orderSubmitted.length > 0) {
        orderSubmitted.forEach((item, index) => {
          if (index == 0) {
            //grab order number
            let orderNumber = document.getElementById("orderNum");
            orderNumber.innerText = item;
          } else if (
            index % 2 != 0 &&
            index != orderSubmitted.length - 1 &&
            index != orderSubmitted.length - 2
          ) {
            let newTr = document.createElement("tr");
            let amountTd = document.createElement("td");
            amountTd.innerText = item;
            let itemTd = document.createElement("td");
            itemTd.innerText = orderSubmitted[index + 1];
            console.log(item);
            newTr.appendChild(amountTd);
            newTr.appendChild(itemTd);
            orderTr.appendChild(newTr);
          }
        });
      }
    </script>
    <script src="./js/main.js"></script>
  </body>
</html>
