<!DOCTYPE html>
<html>
    <head>
        <title>Order Submit</title> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/main.css" />
    </head>
    <body id="orders">
        <div id="order-submitted">
            <h1>Order Submitted</h1>
        </div>

        
        <script src="./js/ejs.min.js"></script>
        <script> 
            let order = '<%= order %>';
            /*order.forEach((item, index) => {
                console.log(item);
            });*/
            console.log("ORDER: ", typeof order);
        </script>
        <script src="./js/main.js"></script>
    </body>
</html>